In [1]:
# !pip install pandas
# !pip install scikit-learn
# !python3 -m pip install tensorflow[and-cuda]

In [2]:
import pandas as pd
import numpy as np
import joblib
import keras
import tensorflow as tf

2024-05-28 18:59:17.059107: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-28 18:59:17.834706: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [3]:
print(tf.config.list_physical_devices('GPU'))

[]

2024-05-28 18:59:18.378177: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-05-28 18:59:18.378741: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2251] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [4]:
np.random.seed(9)

In [5]:
df = pd.read_csv("Disease_symptom_and_patient_profile_dataset.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Disease               349 non-null    object
 1   Fever                 349 non-null    object
 2   Cough                 349 non-null    object
 3   Fatigue               349 non-null    object
 4   Difficulty Breathing  349 non-null    object
 5   Age                   349 non-null    int64
 6   Gender                349 non-null    object
 7   Blood Pressure        349 non-null    object
 8   Cholesterol Level     349 non-null    object
 9   Outcome Variable      349 non-null    object
dtypes: int64(1), object(9)
memory usage: 27.4+ KB

In [7]:
df.head()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive

In [8]:
df.nunique()

Disease                 116
Fever                     2
Cough                     2
Fatigue                   2
Difficulty Breathing      2
Age                      26
Gender                    2
Blood Pressure            3
Cholesterol Level         3
Outcome Variable          2
dtype: int64

In [9]:
disease_list=df['Disease']

In [10]:
df = df.drop('Outcome Variable', axis=1)
df.head()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal

In [11]:
target=df.pop("Disease")
df.head()

,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level
0,Yes,No,Yes,Yes,19,Female,Low,Normal
1,No,Yes,Yes,No,25,Female,Normal,Normal
2,No,Yes,Yes,No,25,Female,Normal,Normal
3,Yes,Yes,No,Yes,25,Male,Normal,Normal
4,Yes,Yes,No,Yes,25,Male,Normal,Normal

In [12]:
df["Fever"]=df["Fever"].map({"No":0,"Yes":1})
df["Cough"]=df["Cough"].map({"No":0,"Yes":1})
df["Fatigue"]=df["Fatigue"].map({"No":0,"Yes":1})
df["Difficulty Breathing"]=df["Difficulty Breathing"].map({"No":0,"Yes":1})
df["Gender"]=df["Gender"].map({"Female":0,"Male":1})
df["Blood Pressure"]=df["Blood Pressure"].map({"Low":0,"Normal":1, "High":2})
df["Cholesterol Level"]=df["Cholesterol Level"].map({"Low":0,"Normal":1, "High":2})
# df["Outcome Variable"]=df["Outcome Variable"].map({"Negative":0,"Positive":1})
df.head()

,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level
0,1,0,1,1,19,0,0,1
1,0,1,1,0,25,0,1,1
2,0,1,1,0,25,0,1,1
3,1,1,0,1,25,1,1,1
4,1,1,0,1,25,1,1,1

In [13]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(target)
target=le.transform(target)

In [14]:
dataset=tf.data.Dataset.from_tensor_slices((df.values,target))

In [15]:
for feature,label in dataset.take(5):
  print(feature,label)

tf.Tensor([ 1  0  1  1 19  0  0  1], shape=(8,), dtype=int64) tf.Tensor(56, shape=(), dtype=int64)
tf.Tensor([ 0  1  1  0 25  0  1  1], shape=(8,), dtype=int64) tf.Tensor(24, shape=(), dtype=int64)
tf.Tensor([ 0  1  1  0 25  0  1  1], shape=(8,), dtype=int64) tf.Tensor(37, shape=(), dtype=int64)
tf.Tensor([ 1  1  0  1 25  1  1  1], shape=(8,), dtype=int64) tf.Tensor(6, shape=(), dtype=int64)
tf.Tensor([ 1  1  0  1 25  1  1  1], shape=(8,), dtype=int64) tf.Tensor(6, shape=(), dtype=int64)

2024-05-28 18:59:18.738535: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence

In [16]:
train_dataset=dataset.take(330)
test_dataset=dataset.skip(330)

In [17]:
train_dataset=train_dataset.shuffle(len(train_dataset)).batch(10)
test_dataset=test_dataset.shuffle(len(test_dataset)).batch(10)

In [18]:
checkpoint_filepath='./checkpoint.keras'
model_checkpoint_callback = keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_filepath,
    monitor='val_accuracy',
    mode='max',
    verbose=1,
    save_best_only=True)

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(32, activation="relu"),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(116)
])

model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

model.fit(train_dataset, validation_data=test_dataset, epochs=30, callbacks=[model_checkpoint_callback])